{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h2>Documents</h2>
  <ul>
    {% for document in documents %}
       {% if document.user.id == request.user.id%}
            <li>
                {{ document.description }} - 
                <a href="{% url 'download' document.id %}">Download</a>
            </li>
        {% comment %} {% elif %} {% endcomment %}
        {% endif %}   
       {%  empty %}
      <li>No documents found.</li>
    {% endfor %}
  </ul>
<a href="/upload/">Upload new Documents</a>

{% endblock %}